.media-grid-area {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    border: 1px solid white;
    pointer-events: none;
    content: '';
  }
  &:has(~ *:hover),
  &:hover {
    &:after {
      border: 6px solid var(--warning-color);
    }
  }

  .media-grid-area_controls {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
  }

  .media-grid-area_image,
  .media-grid-area_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .media-grid-area_select-content-button {
    transition: all 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
    border-radius: var(--radius);
    background: #dee2e0;
    padding: 5px 10px 3px 10px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;

    &:hover,
    &:focus {
      cursor: pointer;
      outline: none;
      background: var(--primary-color);
      color: white;
    }
    &:active {
      scale: 0.95;
    }
  }
}
