.media-grid-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  border-radius: var(--radius);
  background-color: var(--lighter-bg-color);
  padding: 30px;

  .react-grid-layout {
    min-height: calc(var(--area-size) * 4);
  }

  .react-grid-placeholder {
    background: var(--warning-color) !important;
  }

  .react-resizable-handle {
    z-index: 999;
  }

  .media-grid-field_grid {
    position: relative;
    width: 100%;
    pointer-events: none;
  }

  .media-grid-field_area {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #e0e0e0 25%, transparent 25%), linear-gradient(-45deg, #e0e0e0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #e0e0e0 75%), linear-gradient(-45deg, transparent 75%, #e0e0e0 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    aspect-ratio: var(--aspect-ratio);
    pointer-events: all;
  }

  .media-grid-mockup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
  }

  .media-grid-field_areas {
    position: absolute;
    top: 0;
    left: 0;
    gap: 1;
    /* pointer-events: none; */
    aspect-ratio: var(--aspect-ratio);
    width: 100%;
    height: 100%;
  }

  .media-grid-field_area-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: var(--radius);
    background: white;
    padding: 5px 10px 3px 10px;
    pointer-events: none;
    font-size: 12px;
    user-select: none;
    text-align: center;
    white-space: nowrap;
  }

  .media-grid-field_area-overlay-label {
  }

  .media-grid-field_area-overlay-value {
    font-weight: bold;
  }

  .media-grid-field_grid-settings {
    display: flex;
    gap: var(--spacing-m);
    width: 100%;

    > div {
      flex-grow: 1;
    }
  }

  .grid-stack-item-content {
    background: white;
  }
}
